body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar 
{
    background-color: #000;
    
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}